name: development

on:
  push:
  dispatch:

permissions:
  contents: read

jobs:
  run-tests:
    uses: trade-tariff/trade-tariff-tools/.github/workflows/e2e-fpo-tests.yml@HMRC-1061-simplify-e2e-flow
    needs: deploy
    with:
      test-environment: development
      ref: ${{ github.ref }}
    secrets:
      scp-username: ${{ secrets.SCP_USERNAME }}
      scp-password: ${{ secrets.SCP_PASSWORD }}
